.my-footer {
  height: 5em;
  padding: 1em;
  color: #ffffff;
  margin-top: 1.5em;
}
.room-image {
  max-width: 50%;
}
.red-text {
  color: red;
}
.datepicker {
  z-index: 10000;
}
/* override styles here */
.notie-container {
  box-shadow: none;
}
